<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/matching.css">
    <link rel="shortcut icon" href="../imgs/hert.png">
    <title>同期を覚えよう！</title>
</head>

<body>
    <div class="shutter">
        <span class="shutter-text">I want to match you</span>
    </div>

    <audio id="opening-audio" preload="auto" playsinline>
        <source src="../audio/matching.mp3" type="audio/mpeg">
    </audio>

    <section class="container">
        <h1>相性チェック</h1>
        <div class="button_wrapper">
            <a id="button_match" href="./quiz.html">
                <button class="move">クイズページへ</button>
            </a>
            <a id="button_match" href="./chat.html">
                <button class="move">チャットページへ</button>
            </a>
            <a id="button_match" href="../index.html">
                <button class="move">トップページへ</button>
            </a>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../js/matching.js"></script>
</body>

</html>