<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS test</title>
    <link rel="stylesheet" href="../css/quiz.css">
</head>

<body>
    <h1>人生観（Nikkeiより）</h1>
    <h2 class="value">---</h2>
    <h2 class="key">---</h2>
    <p id="gpt-opinion" style="min-height:1.5em;"></p>
    <div class="button_wrapper">
        <button class="answer">Answer</button>
        <button class="next">次の問題へ</button>
        <button class="opinion">この考えに至った背景の推測</button>

        <a href="./matching.html">
            <button class="move">相性ページへ</button>
        </a>
        <a href="./chat.html">
            <button class="move">チャットページへ</button>
        </a>
        <a href="../index.html">
            <button class="move">トップページへ</button>
        </a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../js/quiz.js"></script>
</body>

</html>